<h3>Contador</h3>
<h4>{{contador$ |async}}</h4>

<div class="row">
  <div class="col">
    <div class="row text-center">
      <div class="col">
        <button class="btn btn-primary" (click)="multiplicar()">
          multiplicar
        </button>
        <button class="btn btn-success" (click)="dividir()">
          dividir
        </button>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col">
    <app-nieto></app-nieto>
  </div>
</div>
