<div class="row">
  <div class="col">
    <h1>Contador</h1>
    <h2>{{contador$ | async }}</h2>
  </div>
</div>


<div class="row text-center">
  <div class="col">
    <button class="btn btn-primary" (click)="incrementar()">
      Incrementar
    </button>
    <button class="btn btn-success" (click)="decrementar()">
      Decrementar
    </button>
  </div>
</div>

<hr>
<div class="row">
  <div class="col">
    <app-hijo ></app-hijo>
  </div>
</div>
